@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes audio-wave {
  0%, 100% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
}

.animate-audio-wave {
  animation: audio-wave 1.2s ease infinite;
  transform-origin: bottom;
}
@layer utilities {
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}
